@use '../styles/abstracts/vars';

.nav_overlay {
    width: 100vw;
    height: 100vh;
    background-color: vars.$color_green;
    color: vars.$color_white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    &_menu {
        background-color: vars.$color_green;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
            //background-color: orange;
            li {
                a {
                    font-weight: bold;
                    font-size: 1.5rem;
                    padding: 1rem 0;
                    display: block;
                    color: vars.$color_white
                }
            }
        }
    }
}

.close_btn{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
}